.wrapper {
    background-size: 100%;
    min-height: 128vh;
    background-repeat: no-repeat;
    background-image: url(/assets/img/pc/bg-pc.jpg);
}

.navbar {
    color: #FBFF91;
    padding: 1% 1% 0;
}

.navbar__list {
    display: flex;
    margin: 0 20px;
    color: #FBFF91;
    justify-content: space-between;
}

.navbar__item {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #FBFF91;
}

.navbar__item:hover {
    filter: brightness(120%);
    animation: scaleUp .5s linear infinite;
}

/* .navbar__item a:after {
    content: " ";
    height: 12px;
    right: -20px;
    top: 0;
    position: absolute;
    border: #FBFF91 1px solid;
} */

.navbar__item a:last-child::after {
    /* display: none; */
}

.play {
    position: relative;
    top: 56%;
    left: 64%;
    background-color: transparent;
    filter: brightness(120%);
}

.play img {
    width: 28%;
    animation: pulse 1.6s infinite;
}

.btn-list {
    margin-top: 24%;
}

.btn-img {
    width: 20%;
}

.center {
    text-align: center;
    margin: auto;
}

.btn-img:hover,
.download:hover  {
    filter: brightness(120%);
    animation: scaleUp .5s linear;
}

.btn-home {
    margin-left: 36%;
}

.btn-gift {
    width: 60%;
}

.btn-card {
    width: 24%;
    margin-right: 40%;
}

.download-app {
    margin-top: 1%;
}

.download {
    width: 70%;
    display: block;
    margin: 0 auto 0;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }



/* Modal */
.dialog {

}


.modal-dialog {
    width: 84vh;
    margin: 12vw 32vw 15vw 35vw;
}

.modal-content {
    height: 6vh;
    width: 28vw;
    background-color: transparent !important;
}

#dialog .modal-bg {
    height: 33vh;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/bg_popup.png);
}

button.close {
    color: #fff;
    opacity: 1;
    margin: 1vw;
    font-size: 36px;
}

.modal-title {
    font-size: 1.6vw;
    padding: 6% 0 4% 14%;
}

.content-table-dialog {
    margin: 0 3vw;
    font-size: 24px;
}

.modal-input {
    width: 100%;
    border-radius: 2px;
    padding: 3%;
    color: #000;
}

.modal-form {
    margin-bottom: 6%;
}

.modal-submit {
    padding: 0.6vw 1vw;
    margin: 1vw 12vh 1vw 8vw;
    background-color: #9C313C;
    border-radius: 2vw;
}

/* Dialog Video */
#dialog_video {
    
}

.modal_video-content {
    width: 56vw;
    margin: 10vw 22vw 0 25vw;
}

#dialog_video .close-video {
    margin: 1vw;
}

.modal-dialog_video iframe {
    width: 52vw;
    height: 30vw;
}

/* .modal-dialog__video {
    width: 71vh;
    height: 40vh;
    margin-top: 8%;
} */